# Decision Tree Regression

In [1]:
#libraries import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#data import
filename='data.csv'
dataset=pd.read_csv(filename)
dataset.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [3]:
#dependant and independent variables
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [4]:
pd.DataFrame(X).head()

       0      1        2      3
0  14.96  41.76  1024.07  73.17
1  25.18  62.96  1020.04  59.08
2   5.11  39.40  1012.16  92.14
3  20.86  57.32  1010.24  76.64
4  10.82  37.50  1009.23  96.62

In [5]:
pd.DataFrame(y).head()

        0
0  463.26
1  444.37
2  488.56
3  446.48
4  473.90

In [6]:
#Splitting the data into training and testing set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.2)

In [7]:
#checking the shapes of our split data
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(7654, 4)
(1914, 4)
(7654,)
(1914,)

In [8]:
#creating the model and fitting the traing data to it
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(random_state=0)
regressor.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [9]:
#Evaluating our model by predicting the test set 
y_pred=regressor.predict(X_test)
pd.set_option('precision', 2)
pd.DataFrame({'Actual':y_test,'Predicted':y_pred})

      Actual  Predicted
0     431.23     431.28
1     460.01     459.59
2     461.14     460.06
3     445.90     452.71
4     451.29     459.61
...      ...        ...
1909  460.29     460.47
1910  452.42     454.88
1911  473.26     471.46
1912  438.00     437.76
1913  463.28     462.74

[1914 rows x 2 columns]

In [10]:
#getting the R_2 score
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
print(score)

0.922905874177941